/*banner1*/
/*360*/
@media screen and (max-width: 360px){
	#banner1{
		width: 100%;
		height: auto;
	
	}
	#imagen-banner1{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
/*480*/
@media screen and (max-width: 480px){
	#banner1{
		width: 100%;
		height: auto;
	
	}
	#imagen-banner1{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
/*720*/
@media screen and (max-width: 720px){
	#banner1{
		width: 100%;
		height: auto;
	
	}
	#imagen-banner1{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
/*1080*/
@media screen and (max-width: 1080px){
	#banner1{
		width: 100%;
		height: auto;
	
	}
	#imagen-banner1{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

/*banner2-texto*/
@media screen and (max-width: 720px){
	#banner2{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;

	}
	.lado-imagen{
		width: 50%;
		
	}
	#lado-texto{
		width: 50%;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}
}

@media screen and (max-width: 720px){
	#imagen-banner2{
		width: 80vh;
		height: 100vh;
		object-fit: cover;
	}
	.text-banner2{
		width: 90%;
		margin-right: 30px!important;
		box-sizing: border-box;
		font-family: 'Muli', sans-serif;
	}
}

/*1080*/
@media screen and (max-width: 1080px){
	.lado-imagen {
		width: 50%;
	}
}

@media screen and (max-width: 1080px){
	#lado-texto {
		width: 50%;
		height: auto;
		
	}
}
@media screen and (max-width: 1080px){
	#imagen-banner2 {
		width: 100%;
		height: auto;
	
	}
}


/*400*/
@media screen and (max-width: 490px){
	.lado-imagen {
		width: 50%;
	}
}

@media screen and (max-width: 490px){
	#lado-texto {
		width: 50%;
		height: auto;
	
		
	}
}
@media screen and (max-width: 490px){
	#imagen-banner2 {
		width: 100%;
		height: auto;
	
	}
}