/*Preguntas frecuentes*/
@import "variables";

.titulo-faqs{
    font-family: $font-titulo;
}

.faqs{
    font-family: $font-parrafo;
}

div{
    #section-faqs{
    margin: 160px 60px 10px 60px!important;
    }
}