@import "variables";

#mayoristas-contenedor{ /*container*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 110px 60px 40px 60px;

}
.container-img-cr{
    width: 50%;
    object-fit: cover;

    .imagen-carousel{
        width:38rem;
        height: 195vh;

    }
}
#formulario-m{
    width: 50%;
    margin-top: 100px;
    padding-right: 30px;
    padding-left: 15px;

    h2{
        width: 100%;
        font-family: $font-titulo;
    }
    #parrafo-mayoristas{
        text-align: justify;
        font-family: $font-parrafo;
    }
}

.form-control{
    font-family: $font-parrafo;
    margin-bottom: 10px!important;
}
.boton-submit{
    width: 80px;
    height: 45px;
    background-color: $color3;
    border-radius: .3rem;
    font-family: $font-titulo;
    
}
.enviar-text-boton{
    text-align: center;
    font-size: 3rem;
}

/*.form-control:focus {
    border-color: $color1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }*/

.chek{
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    .form-check-input{
        color: $color5;
    }
    .form-check-label{
        color: gray;
    }

}