/*388*/
@media screen and (max-width: 388px){
	footer h3{
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 388px){
	.d-flex{
		width: 100%;
		display: flex;
		height: auto;
		flex-flow: row;
		justify-content: space-evenly;
		box-sizing: border-box;
		margin-left: 0px!important;


	}
}
@media screen and (max-width: 388px){
	#info{
		display: none;
		
	}
	#tienda{
		display: none;
	}
}
@media screen and (max-width: 388px){
	.hijos-footer{
		width: 50%;
		height: auto;
	}
}
@media screen and (max-width: 388px){
	#parrafo{
		font-size: 0.7rem;
		width: 100%;
		padding-left:0px!important;
		margin: -3px!important;
	}
	#info{
		width: 100%;
	}
}
/*design*/
@media screen and (max-width: 388px){
	.copy{
		padding-top: 2px;
		width: 100%;
	}
}
@media screen and (max-width: 388px){
	#design{
	
		padding-left: 0px!important;
		width: 25%;
		font-size: 0.3rem;
		margin-left: -3px!important;
	}
}
@media screen and (max-width: 388px){
	#texto-copy{
		
		width: 50%;
		text-align: center;
		font-size: 0.3rem;
		margin-left: -3px!important;
	}
}
@media screen and (max-width: 388px){
	.arriba{
		padding-right: 0px!important;
		margin-left: 1px!important;
	}
}




/*footer 490*/

@media screen and (max-width: 690px){
	footer h3{
		font-size: 1.1rem;
	}
}



@media screen and (max-width: 490px){
	.d-flex{
		margin: 30px 24px 0px 24px;
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: row;
		justify-content: space-evenly;
		box-sizing: border-box;

	}
}
@media screen and (max-width: 490px){
	#info{
		display: none;
		
	}
}
@media screen and (max-width: 490px){
	.hijos-footer{
		width: 33%;
		padding: 0px 0px 0px 0px;
		box-sizing: border-box;
		
	}
}


@media screen and (max-width: 490px){
	.tienda{
		margin-right: 30px;
		
	}
}


@media screen and (max-width: 490px){
	#parrafo{
		padding-top: .5rem;	
		font-size: 0.8rem;
		width: 33%;
	}
}

/*design Valen*/
@media screen and (max-width: 490px){
	.copy{
		width: 100%;
		display: flex;
		flex-flow: row;
		
	}
}
@media screen and (max-width: 490px){
	#design{
		width: 15%;
		font-size: 0.4rem;
		
	}
}

@media screen and (max-width: 490px){
	#texto-copy{
		width: 70%;
		font-size: 0.6rem;
		
	}
}
@media screen and (max-width: 490px){
	.arriba{
		width: 15%;
		padding-right: 1px;
		box-sizing: border-box;

		
	}
}

/*760*/
@media screen and (max-width: 760px){
	footer h3{
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 760px){
	.d-flex{
		width: 100%;
		display: flex;
		height: auto;
		flex-flow: row;
		justify-content: space-evenly;
		box-sizing: border-box;
		margin-left: 0px!important;
		padding: 0px 30px 0px 30px;

	}
}
@media screen and (max-width: 760px){
	#info{
		display: none;
		
	}
}
@media screen and (max-width: 760px){
	.hijos-footer{
		width: 39%;
		height: auto;
	}
}
@media screen and (max-width: 760px){
	#parrafo{
		font-size: 0.5rem;

	}
}
@media screen and (max-width: 760px){
	.copy{
		padding-top: 2px;
		width: 100%;
	}
}
@media screen and (max-width: 760px){
	#design{
	
		padding-left: 0px!important;
		width: 20%;
		font-size: 0.5rem;;
	}
}
@media screen and (max-width: 760px){
	#texto-copy{
		
		width: 60%;
		text-align: center;
		font-size: 1rem;
	}
}
@media screen and (max-width: 760px){
	.arriba{
		
		width: 20%;
	}
}

/*1080*/

@media screen and (max-width: 1080px){
	.d-flex{
		width: 100%;
		display: flex;
		height: auto;
		flex-flow: row;
		justify-content: space-evenly;
		box-sizing: border-box;
		margin-left: 0px!important;
		padding: 0px 30px 0px 30px;

	}
}

@media screen and (max-width: 1080px){
	.hijos-footer{
		width: 25%;
		height: auto;
	}
}
@media screen and (max-width: 1080px){
	#parrafo{
		font-size: 0.9rem;

	}
}
@media screen and (max-width: 1080px){
	.copy{
		padding-top: 2px;
		width: 100%;
	}
}
@media screen and (max-width: 1080px){
	#design{
	
		padding-left: 0px!important;
		width: 25%;
		font-size: 1.1rem;;
	}
}
@media screen and (max-width: 1080px){
	#texto-copy{
		
		width: 50%;
		text-align: center;
	}
}
@media screen and (max-width: 1080px){
	.arriba{
		width: 25%;
	}
}

/*400


@media screen and (max-width: 360px){
	#destacados{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (max-width: 360px){
	#destacados-imagen1{
		width: 100%;
		height: 30vh;
	}
}

@media screen and (max-width: 360px){
	#destacados-imagen2{
		width: 100%;
		height: 30vh;
		margin-top: 1rem;
	}
}
*/