@media screen and (max-width: 760px){
    #linea-categorias{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 760px){
    .boton-despegable{
        margin-left: 20px;
        float: left;
        width: 2rem;
    }
}