/*media queries*/

/*navbar*/

@media screen and (max-width: 720px){
	#logo h1{
		text-align: left;
		font-size: 2rem;
		box-sizing: border-box;
		padding-top: .4rem;
    }
    
}

@media screen and (max-width: 360px){
	#logo h1{
		text-align: left;
		font-size: 1.5rem;
		box-sizing: border-box;
		padding-top: .6rem;
	}
}


@media screen and (max-width: 720px){
	.bi-person-fill{
		width: 1.35em;
		height: 1.35em;	
		margin-top: 21px;
		margin-right: 1.6rem;
	}
}
@media screen and (max-width: 720px){
	.bi-bag-fill{
		width: 1.1em;
		height: 1.1em;	
		margin-top: 22px;
		margin-right: 1.6rem;
		
	}
}
@media screen and (max-width: 720px){
	.bi-search{
		width: 1.1em;
		height: 1.1em;	
		margin-top: 22px;
		margin-right: 1.6rem;	
	}
}

