/*variables*/

$font-titulo: "Arimo", sans-serif;
$font-parrafo: 'Muli', sans-serif;

/*paleta colores*/
$color1: #4F5950;
$color2: #222622;
$color3: #668359;
$color4: #F2F2F2;
$color5: #BFBFBF;
$color-gris: #cacaca;
$color-blanco: #ffffff;

$letra: 1rem;
$margen: 0px 30px 0px 30px