/*banner principal*/
.img-fluid {
  padding-top: 75px;
  width: 100%;
}

/*Banner 1 debajo de destacados*/
#banner1 img {
  width: 100%;
  height: 105vh;
  margin-bottom: 30px;
}

/*variables*/
/*paleta colores*/
/*Banner 2 con boton*/
#banner2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lado-imagen {
  width: 50%;
  margin-right: 5px;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#imagen-banner2 {
  width: 80vh;
  height: 100vh;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
  -o-object-fit: cover;
     object-fit: cover;
}

#lado-texto {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-banner2 {
  width: 90%;
  margin-right: 30px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

#boton {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Arimo' sans-serif;
  font-size: 15px;
}

#boton:hover {
  width: 100%;
  height: 45px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Arimo' sans-serif;
  font-size: 15px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: #668359;
  border-style: none;
  border-radius: 10px;
}

/*destacados*/
#destacados {
  padding-top: 30px;
  width: 100%;
  height: 60vh;
  margin-bottom: 150px;
}

#destacados-imagen1 {
  width: 50%;
  margin: 10px 60px 0px 60px;
  text-align: center;
}

#destacados-imagen2 {
  width: 50%;
  margin: 0px 70px 0px 20px;
  text-align: center;
}

#destacados-imagen1 img {
  width: 240px;
  height: 290px;
  text-align: center;
}

#destacados-imagen2 img {
  width: 340px;
  height: 399px;
  text-align: center;
}

#titulo-destacados {
  margin-left: 80px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-size: 23px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel img {
  display: block;
  height: 300px;
  width: 280px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px;
  }
}

.flickity-page-dots .dot {
  width: 16px !important;
  height: 0.2px !important;
}

/*footer*/
/*variables*/
/*paleta colores*/
footer {
  background-color: #F2F2F2;
}

footer #lista-footer {
  list-style: none;
}

footer .tienda {
  display: block;
  color: #668359;
}

footer .tienda:hover {
  text-decoration: none;
  color: #222622;
}

.contenedor-footer {
  margin: 30px 30px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 15vh;
}

.hijos-footer {
  width: 25%;
  text-align: left;
  margin: 12px 4px 0px 4px;
}

#contacto li {
  font-size: 1rem;
}

#tienda {
  margin-left: 55px;
}

#tienda a {
  font-size: 1rem;
}

#info {
  margin-right: 55px;
}

#info p {
  font-size: 1rem;
}

#redes a {
  font-size: 1.8rem;
  color: #668359;
  margin-right: .8rem;
}

#redes a:hover {
  text-decoration: none;
  color: #222622;
}

.copy {
  text-align: center;
  margin: 50px 0px 0px 0px;
  background-color: #ffffff !important;
}

.copy h5 {
  width: 10%;
  font-family: "Arimo", sans-serif;
  padding-top: 20px;
  font-size: 1rem;
  color: #BFBFBF;
  margin-left: 30px;
}

.copy #texto-copy {
  width: 80%;
  padding: 20px 0px 0px 40px;
  text-align: center;
}

.copy .arriba {
  width: 10%;
  text-decoration: none;
  margin-right: 20px;
  padding-top: 20px;
  margin-right: 30px;
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*nav o header*/
/*variables*/
/*paleta colores*/
header {
  width: 100%;
  position: fixed;
  height: 13vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0px !important;
  margin-top: 0px !important;
  z-index: 100;
  background-color: #ffffff;
}

/*#logo{
		margin: 3px 0px 0px 30px;
		box-sizing: border-box;
		padding-top: 0px;
		height: 3vh;
	}*/
div #logo {
  /*margin-bottom: 30px;*/
  margin: 3px 0px 0px 30px;
  padding-top: 0px;
  height: 3vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  color: #668359;
}

/*icons*/
.bi {
  margin-right: 30px;
  margin-top: 20px;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #668359;
}

.bi:hover {
  color: #222622;
}

.bi-search {
  margin-top: 23px;
}

nav .navbar-custom {
  width: 100%;
  margin-right: 0px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .navbar-nav {
  margin: -3px 30px 0px 0px;
  width: 100%;
  height: 1vh;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-family: "Muli", sans-serif;
  text-align: center;
  margin-left: 25%;
}

nav .navbar-nav .nav-item {
  width: 8rem;
  text-align: center;
}

nav .navbar-nav .nav-link {
  color: #222622;
  font-family: "Muli", sans-serif;
}

nav .navbar-nav a {
  font-size: 1rem;
}

nav .navbar-nav .nav-link:hover {
  background-color: rgba(79, 89, 80, 0.247);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

/*Remeras.html*/
#padre-galeria {
  padding-top: 150px !important;
}

.hijo-galeria img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#padre-galeria img:hover {
  border: 5px solid #ffffff;
}

.col-lg-3 {
  overflow: hidden !important;
}

.text-md-center {
  font-size: 1rem;
  font-family: 'Muli' sans-serif;
  color: #6E7347;
}

/*estructura*/
#contenedor-remeras {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#contenedor-remeras #galeria-remeras {
  width: 80%;
  margin: 20px 30px 0px 0px;
}

#contenedor-remeras aside {
  height: auto;
  background-color: #F2F2F2;
  width: 20%;
  margin: -35px 0px 0px 30px;
}

#contenedor-remeras aside a {
  display: block;
  margin-bottom: 11px;
  color: #668359;
}

#contenedor-remeras aside a:hover {
  color: #222622;
  text-decoration: none;
}

div .migas {
  width: 60%;
  height: auto;
  margin-top: 6rem;
  display: inline-block;
  margin-left: 30px;
  padding-top: 3rem;
  margin-bottom: 0px !important;
}

div li {
  display: inline;
  font-size: 1.15rem;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div #miga1 {
  margin-left: 30px !important;
}

div #miga1 a {
  color: #668359;
}

div #miga1 a:hover {
  color: #222622;
  text-decoration: none;
}

div #linea-migas {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

div #miga2 {
  /*focus*/
}

div #miga2 a {
  color: #222622;
}

div #miga2 a:hover {
  color: #222622;
  text-decoration: none;
}

#linea-categorias {
  margin-top: 5px;
}

.boton-desplegable {
  margin-left: 300px;
  float: left;
}

.boton-desplegable button {
  background-color: #668359;
  color: #ffffff;
}

.boton-desplegable button:hover {
  background-color: #4F5950;
  color: #ffffff;
}

.boton-desplegable button:focus {
  background-color: #4F5950 !important;
  color: #ffffff;
}

/*variables*/
/*paleta colores*/
/*variables*/
/*paleta colores*/
#contenedor-sweaters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#contenedor-sweaters #galeria-sweaters {
  width: 80%;
  margin: 20px 30px 0px 0px;
}

#contenedor-sweaters aside {
  height: auto;
  background-color: #F2F2F2;
  width: 20%;
  margin: -35px 0px 0px 30px;
}

#contenedor-sweaters aside a {
  display: block;
  margin-bottom: 11px;
  color: #668359;
}

#contenedor-sweaters aside a:hover {
  color: #222622;
  text-decoration: none;
}

div .migas {
  width: 60%;
  height: auto;
  margin-top: 6rem;
  display: inline-block;
  margin-left: 30px;
  padding-top: 3rem;
  margin-bottom: 0px !important;
}

div li {
  display: inline;
  font-size: 1.15rem;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div #miga1 {
  margin-left: 30px !important;
}

div #miga1 a {
  color: #668359;
}

div #miga1 a:hover {
  color: #222622;
  text-decoration: none;
}

div #linea-migas {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

div #miga2 {
  /*focus*/
}

div #miga2 a {
  color: #222622;
}

div #miga2 a:hover {
  color: #222622;
  text-decoration: none;
}

#linea-categorias {
  margin-top: 5px;
}

.boton-desplegable {
  margin-left: 300px;
  float: left;
}

.boton-desplegable button {
  background-color: #668359;
  color: #ffffff;
}

.boton-desplegable button:hover {
  background-color: #4F5950;
  color: #ffffff;
}

.boton-desplegable button:focus {
  background-color: #4F5950 !important;
  color: #ffffff;
}

/*variables*/
/*paleta colores*/
#contenedor-sweaters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#contenedor-sweaters #galeria-sweaters {
  width: 80%;
  margin: 20px 30px 0px 0px;
}

#contenedor-sweaters aside {
  height: auto;
  background-color: #F2F2F2;
  width: 20%;
  margin: -35px 0px 0px 30px;
}

#contenedor-sweaters aside a {
  display: block;
  margin-bottom: 11px;
  color: #668359;
}

#contenedor-sweaters aside a:hover {
  color: #222622;
  text-decoration: none;
}

div .migas {
  width: 60%;
  height: auto;
  margin-top: 6rem;
  display: inline-block;
  margin-left: 30px;
  padding-top: 3rem;
  margin-bottom: 0px !important;
}

div li {
  display: inline;
  font-size: 1.15rem;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div #miga1 {
  margin-left: 30px !important;
}

div #miga1 a {
  color: #668359;
}

div #miga1 a:hover {
  color: #222622;
  text-decoration: none;
}

div #linea-migas {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

div #miga2 {
  /*focus*/
}

div #miga2 a {
  color: #222622;
}

div #miga2 a:hover {
  color: #222622;
  text-decoration: none;
}

#linea-categorias {
  margin-top: 5px;
}

.boton-desplegable {
  margin-left: 300px;
  float: left;
}

.boton-desplegable button {
  background-color: #668359;
  color: #ffffff;
}

.boton-desplegable button:hover {
  background-color: #4F5950;
  color: #ffffff;
}

.boton-desplegable button:focus {
  background-color: #4F5950 !important;
  color: #ffffff;
}

/*variables*/
/*paleta colores*/
#contenedor-sweaters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#contenedor-sweaters #galeria-sweaters {
  width: 80%;
  margin: 20px 30px 0px 0px;
}

#contenedor-sweaters aside {
  height: auto;
  background-color: #F2F2F2;
  width: 20%;
  margin: -35px 0px 0px 30px;
}

#contenedor-sweaters aside a {
  display: block;
  margin-bottom: 11px;
  color: #668359;
}

#contenedor-sweaters aside a:hover {
  color: #222622;
  text-decoration: none;
}

div .migas {
  width: 60%;
  height: auto;
  margin-top: 6rem;
  display: inline-block;
  margin-left: 30px;
  padding-top: 3rem;
  margin-bottom: 0px !important;
}

div li {
  display: inline;
  font-size: 1.15rem;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div #miga1 {
  margin-left: 30px !important;
}

div #miga1 a {
  color: #668359;
}

div #miga1 a:hover {
  color: #222622;
  text-decoration: none;
}

div #linea-migas {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

div #miga2 {
  /*focus*/
}

div #miga2 a {
  color: #222622;
}

div #miga2 a:hover {
  color: #222622;
  text-decoration: none;
}

#linea-categorias {
  margin-top: 5px;
}

.boton-desplegable {
  margin-left: 300px;
  float: left;
}

.boton-desplegable button {
  background-color: #668359;
  color: #ffffff;
}

.boton-desplegable button:hover {
  background-color: #4F5950;
  color: #ffffff;
}

.boton-desplegable button:focus {
  background-color: #4F5950 !important;
  color: #ffffff;
}

/*variables*/
/*paleta colores*/
#form-contenedor {
  /*container*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 110px 110px 40px 110px;
}

#imagen-formulario {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 10px;
}

#imagen-formulario #imagen-f {
  width: 80%;
  height: 105vh;
}

#formulario {
  width: 40%;
  margin-top: 100px;
  padding-right: 30px;
}

#formulario h2 {
  width: 100%;
}

.form-control {
  font-family: "Muli", sans-serif;
  margin-bottom: 0px !important;
}

.boton-submit {
  width: 80px;
  height: 45px;
  background-color: #668359;
  border-radius: .3rem;
  font-family: "Arimo", sans-serif;
}

.enviar-text-boton {
  text-align: center;
  font-size: 3rem;
}

/*.form-control:focus {
    border-color: $color1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }*/
/*Preguntas frecuentes*/
/*variables*/
/*paleta colores*/
.titulo-faqs {
  font-family: "Arimo", sans-serif;
  font-size: 1.2rem;
}

.titulo-f {
  font-family: "Arimo", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.faqs {
  font-family: "Muli", sans-serif;
  text-align: justify;
}

#section-faqs {
  margin: 60px 130px 40px 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*variables*/
/*paleta colores*/
/*variables*/
/*paleta colores*/
#mayoristas-contenedor {
  /*container*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 110px 60px 40px 60px;
}

.container-img-cr {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-img-cr .imagen-carousel {
  width: 38rem;
  height: 195vh;
}

#formulario-m {
  width: 50%;
  margin-top: 100px;
  padding-right: 30px;
  padding-left: 15px;
}

#formulario-m h2 {
  width: 100%;
  font-family: "Arimo", sans-serif;
}

#formulario-m #parrafo-mayoristas {
  text-align: justify;
  font-family: "Muli", sans-serif;
}

.form-control {
  font-family: "Muli", sans-serif;
  margin-bottom: 10px !important;
}

.boton-submit {
  width: 80px;
  height: 45px;
  background-color: #668359;
  border-radius: .3rem;
  font-family: "Arimo", sans-serif;
}

.enviar-text-boton {
  text-align: center;
  font-size: 3rem;
}

/*.form-control:focus {
    border-color: $color1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }*/
.chek {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.chek .form-check-input {
  color: #BFBFBF;
}

.chek .form-check-label {
  color: gray;
}

/*@media screen and (max-width: 720px){
	.navbar-nav{
		
		width: 100%;
		height: 80vh;
		padding:0px 0px 0px 0px;
		text-align: center;
	}
}

@media screen and (max-width: 720px){
	.nav-item{
		width: 2rem;
		text-align: center;
	
	}
}
*/
/*main*/
@media screen and (max-width: 720px) {
  .banner-p img {
    padding-top: 68px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*media queries*/
/*navbar*/
@media screen and (max-width: 720px) {
  #logo h1 {
    text-align: left;
    font-size: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: .4rem;
  }
}

@media screen and (max-width: 360px) {
  #logo h1 {
    text-align: left;
    font-size: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: .6rem;
  }
}

@media screen and (max-width: 720px) {
  .bi-person-fill {
    width: 1.35em;
    height: 1.35em;
    margin-top: 21px;
    margin-right: 1.6rem;
  }
}

@media screen and (max-width: 720px) {
  .bi-bag-fill {
    width: 1.1em;
    height: 1.1em;
    margin-top: 22px;
    margin-right: 1.6rem;
  }
}

@media screen and (max-width: 720px) {
  .bi-search {
    width: 1.1em;
    height: 1.1em;
    margin-top: 22px;
    margin-right: 1.6rem;
  }
}

/*destacados*/
@media (max-width: 720px) {
  #titulo-destacados {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  #destacados {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

@media screen and (max-width: 720px) {
  #destacados-imagen1 {
    width: 10rem;
    height: auto;
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 720px) {
  #destacados-imagen2 {
    width: 100%;
    height: auto;
    margin-top: 0px !important;
  }
}

/*banner1*/
/*360*/
@media screen and (max-width: 360px) {
  #banner1 {
    width: 100%;
    height: auto;
  }
  #imagen-banner1 {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*480*/
@media screen and (max-width: 480px) {
  #banner1 {
    width: 100%;
    height: auto;
  }
  #imagen-banner1 {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*720*/
@media screen and (max-width: 720px) {
  #banner1 {
    width: 100%;
    height: auto;
  }
  #imagen-banner1 {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*1080*/
@media screen and (max-width: 1080px) {
  #banner1 {
    width: 100%;
    height: auto;
  }
  #imagen-banner1 {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*banner2-texto*/
@media screen and (max-width: 720px) {
  #banner2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .lado-imagen {
    width: 50%;
  }
  #lado-texto {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 720px) {
  #imagen-banner2 {
    width: 80vh;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .text-banner2 {
    width: 90%;
    margin-right: 30px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Muli', sans-serif;
  }
}

/*1080*/
@media screen and (max-width: 1080px) {
  .lado-imagen {
    width: 50%;
  }
}

@media screen and (max-width: 1080px) {
  #lado-texto {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 1080px) {
  #imagen-banner2 {
    width: 100%;
    height: auto;
  }
}

/*400*/
@media screen and (max-width: 490px) {
  .lado-imagen {
    width: 50%;
  }
}

@media screen and (max-width: 490px) {
  #lado-texto {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 490px) {
  #imagen-banner2 {
    width: 100%;
    height: auto;
  }
}

/*388*/
@media screen and (max-width: 388px) {
  footer h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 388px) {
  .d-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px !important;
  }
}

@media screen and (max-width: 388px) {
  #info {
    display: none;
  }
  #tienda {
    display: none;
  }
}

@media screen and (max-width: 388px) {
  .hijos-footer {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 388px) {
  #parrafo {
    font-size: 0.7rem;
    width: 100%;
    padding-left: 0px !important;
    margin-left: -3px !important;
  }
  #info {
    width: 100%;
  }
  .fab {
    width: 2rem;
    height: 2rem;
  }
}

/*design*/
@media screen and (max-width: 388px) {
  .copy {
    padding-top: 2px;
    width: 100%;
  }
}

@media screen and (max-width: 388px) {
  #design {
    padding-left: 0px !important;
    width: 25%;
    font-size: 0.3rem;
    margin-left: -3px !important;
  }
}

@media screen and (max-width: 388px) {
  #texto-copy {
    width: 50%;
    text-align: center;
    font-size: 0.3rem;
    margin-left: -3px !important;
  }
}

@media screen and (max-width: 388px) {
  .arriba {
    padding-right: 0px !important;
  }
}

/*footer 490*/
@media screen and (max-width: 690px) {
  footer h3 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 490px) {
  .d-flex {
    padding: 30px 24px 0px 24px;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 490px) {
  #info {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .hijos-footer {
    width: 33%;
    padding: 0px 0px 0px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 490px) {
  .tienda {
    margin-right: 30px;
  }
}

@media screen and (max-width: 490px) {
  #parrafo {
    padding-top: .5rem;
    font-size: 0.8rem;
    width: 33%;
  }
}

/*design Valen*/
@media screen and (max-width: 490px) {
  .copy {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media screen and (max-width: 490px) {
  #design {
    width: 15%;
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 490px) {
  #texto-copy {
    width: 50%;
    font-size: 0.5rem;
    text-align: left;
  }
}

@media screen and (max-width: 490px) {
  .arriba {
    width: 15%;
    padding-right: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*760*/
@media screen and (max-width: 760px) {
  footer h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 760px) {
  .d-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0px !important;
    padding: 0px 30px 0px 30px;
  }
}

@media screen and (max-width: 760px) {
  #info {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .hijos-footer {
    width: 39%;
    height: auto;
  }
}

@media screen and (max-width: 760px) {
  #parrafo {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 760px) {
  .copy {
    padding-top: 2px;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  #design {
    padding-left: 0px !important;
    width: 20%;
    font-size: 0.5rem;
    text-align: left;
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 760px) {
  #texto-copy {
    width: 60%;
    font-size: 1rem;
    text-align: left;
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 760px) {
  .arriba {
    width: 20%;
  }
}

/*1080*/
@media screen and (max-width: 1080px) {
  .d-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0px !important;
    padding: 0px 30px 0px 30px;
    margin: 0px !important;
  }
}

@media screen and (max-width: 1080px) {
  .hijos-footer {
    width: 25%;
    height: auto;
  }
}

@media screen and (max-width: 1080px) {
  #parrafo {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1080px) {
  .copy {
    padding-top: 2px;
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  #design {
    padding-left: 0px !important;
    width: 25%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1080px) {
  #texto-copy {
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .arriba {
    width: 25%;
  }
}

/*400


@media screen and (max-width: 360px){
	#destacados{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (max-width: 360px){
	#destacados-imagen1{
		width: 100%;
		height: 30vh;
	}
}

@media screen and (max-width: 360px){
	#destacados-imagen2{
		width: 100%;
		height: 30vh;
		margin-top: 1rem;
	}
}
*/
/*# sourceMappingURL=estilos.css.map */